.container {
  width: 95%;
  margin: 2%;
  padding: 1%;
  font-family: Orbitron;
  .title{
    width: 25%;
    margin: 0 auto;
    h1 {
      padding-left: 2%;
      display: inline-block;
    }
  }
}

